@font-face {
  font-family: "Gilroy";           
  src: url("/fonts/Gilroy/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";           
  src: url("/fonts/OpenSans/OpenSans-Light.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.main-header {
  background-color: #f7e296;
}

.header-row {
  font-family: "OpenSans", Tahoma, sans-serif;
}
.header-content {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
}
.site-navigation {
  text-transform: none;
  font-weight: 400;
}
.header-row ul,
.site-navigation,
.header-info {
  list-style: none;
}

.header-catalog {
  font-weight: 800;
}


.main-footer {
  font-family: "OpenSans", Tahoma, sans-serif;
  color: #FFFFFF;

  background-color: #464646;
}
.footer-info {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;

}

.footer-info,
.social,
.login {
  list-style: none;
}

.social {
  background-color: #7e7e7e;
  text-align: center;
}

.map,
.write-us {
  display:none;
}
